*{
    margin: 0px auto;
    padding: 0px auto;
}
    .container{
        margin-top: 30px;
        display: block;
        width: 600px;
        min-height: 500px;
    }

            .header{
                display:block;
                width: 400px;
                min-height: 400px;
                background-color: orange;
            }
                .top_main{

                }
                    .google_svg{
                        width: 90px;
                    }
            .footer{
                display:block;
                width: 450px;
                min-height: 100px;
                background-color: yellow;
                
            }